.friendItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px solid #8c8c8c;
    border-radius: 10px;
    width: 80px;
    padding: 10px;
}

.friendAvatar {
    display: block;
    width: 70px;
    height: 100%;
}

.friendName {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: #1d1d21;
}

.statusClass {
    font-size: 24px;
}

.online {
    color: #53a450;
}

.offline {
    color: #ff3e3d;
}